* {
    padding: 0;
    margin: 0;
    font-style: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Helvetica, "Microsoft Yahei";
    font-size: 14px;
    color: #470a0f;
    position: relative;
    background: #f8f8f8;
}
a, a:visited {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}
img {
    width: 100%;
    border: 0px;
    display: block;
}

/* ------------mycss style---------- */
.viewport {
    width: 100%;
    height: 0px;
    position: relative;
}
.listBanner {
    -webkit-animation: bounceIn .5s ease-in 0.3s both;
    -o-animation: bounceIn .5s ease-in 0.3s both;
    animation: bounceIn .5s ease-in 0.3s both;
}
section.menu-tab {
    background: #fff;
    margin-bottom: 10px;
}
section.menu-tab .content {
    width: 100%;
    overflow: hidden;
}
section.menu-tab .content ul li.item {
    display: block;
    width: 20%;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #333;
}
section.menu-tab .content ul li.item a {
    font-size: 14px;
    padding: 10px 0px;
    display: block;
    color: #333;
}
section.menu-tab .content ul li.item a:hover {
    background: #f3f3f3;
    color: #ff6600;
}
section.menu-tab .content ul li.item a.cur {
    background: #f3f3f3;
    color: #ff6600;
}
section.menu-tab .content ul li.item a p.name {
    padding: 6px 4px  4px;
}
section.menu-tab .content ul li.item div.icon {
    padding: 0px 25%;
}

/*productList css*/
section.productList {
    width: 100%;
    height: auto;
}
section.productList .content ul li.item {
    width: 50%;
    float: left;
    text-align: center;
    padding: 0px 5px 10px;
}
section.productList .content ul {
    padding: 0px 5px;
}
section.productList .content ul li.item div.nr {
    display: block;
    padding: 10px 5px 20px;
    background: #fff;
    height: 260px;
}
section.productList .content ul li.item div.nr a {
    display: block;
    color: #7d7d7d;
    font-size: 14px;
}
section.productList .content ul li.item div.nr a p.name {
    padding: 5px 0px 10px;
}
section.productList .content ul li.item div.nr a p.price {
    color: #ff4747;
    font-size: 13px;
}

/*show-img css*/
section.show-img {
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
section.show-img div.play-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .4);
}
section.show-img div.play-mask a.play-btn {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: 50%;
    margin-top: -40px;
    z-index: 99;
}
section.product-content {
    width: 100%;
}
section.product-content div.tit-cont {
    width: 100%;
    background: #fff;
    padding: 10px 10px 15px;
    margin-bottom: 10px;
}
section.product-content div.tit-cont p.name {
    font-size: 18px;
    color: #555;
    padding: 0px 0px 10px 0px;
}
section.product-content div.tit-cont p.prcie {
    position: relative;
    color: #ccc;
    font-size: 16px;
}
section.product-content div.tit-cont p.prcie i {
    font-size: 13px;
}
section.product-content div.tit-cont p.prcie span.icon-bt {
    font-size: 10px;
    color: #dd2828;
    border: 1px solid #dd2828;
    border-radius: 3px;
    padding: 2px 3px;
    margin-left: 20px;
}
section.product-content div.nr-cont {
    background: #fff;
    padding: 15px;
    line-height: 1.8;
    color: #666;
    font-size: 14px;
    min-height: 200px;
}
.handTips {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}
.handTips .mask-img {
    padding: 30% 20% 20%;
}
.handTips .handBtn {
    position: absolute;
    bottom: 80px;
    padding: 0% 10%;
    width: 100%;
    text-align: center;
}
.handTips .handBtn a {
    color: #ff6600;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ff6600;
}
#circlr {
    cursor: move;
    margin: 0 auto;
    min-height: 100px;
    position: relative;
}
#circlr #loader {
    background: url(../images/loader.gif) center center no-repeat;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/* 适配 css */
@media screen and (min-width:1024px) {
    div.viewport {
        width: 640px;
        margin: 0px auto;
    }
    section.productList .content ul li.item div.nr {
        height: 380px;
    }
    .handTips {
        position: absolute;
        width: 640px;
        height: 980px;
    }
}
@media screen and (max-width:320px) {
    section.menu-tab .content ul li.item a {
        font-size: 12px;
    }
    section.productList .content ul li.item div.nr {
        height: 200px;
    }
}

/*animation css*/
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}